body {
    background-color: grey;
    font-family: "Trebuchet MS";
}

* {
    margin: 0;
    padding: 0;
    border: 0;
}




.navbar .container .arama {
    width: 750px;
}



.dene {
    margin: 100px 150px 100px 80px;
   
    width: 350px;
    height: 300px;
    border-right: solid 3px ;
    
    
    background-color: #ffffff ;
    padding: 12px;
    padding-right: 30px;
    
}
.form {
    margin: 100px 150px 100px 80px;
    background-color: #ffffff;
    margin-top: 20px;
    width: 600px;
    height: 750px;
    border: solid 0px;
    border-color: dimgray;
    border-radius: 5px;
    padding: 12px;
}
.form1 {
    margin: 100px 150px 100px 80px;
    background-color: #ffffff;
    margin-top: 20px;
    width: 600px;
    height: 670px;
    border: solid 0px;
    border-color: dimgray;
    border-radius: 5px;
    padding: 12px;
}
.form3 {
    margin: 100px 150px 100px 80px;
    background-color: #ffffff;
    margin-top: 20px;
    width: 600px;
    height: 750px;
    border: solid 0px;
    border-color: dimgray;
    border-radius: 5px;
    padding: 12px;

}

#SıgnIn.SıgnIn {
    margin: 100px 150px 100px 80px;
    background-color: #ffffff;
    margin-top: 20px;
    width: 600px;
    height: 670px;
    border: solid 0px;
    border-color: dimgray;
    border-radius: 5px;
    padding: 12px;
}

.formh2 {
    width: 500px;
    height: 70px;
    line-height: 70px;
    text-align: center;
}

.formtitle {
    margin: 0;
    margin-left: 20px;
     padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    font-family: Arial;
}

.form-select {
    margin-bottom: 12px;
}


.brosur1 {
    position: absolute;
    right: 100px;
    margin-top: 120px;
}


.accordion-button:link, .accordion-button:visited, .accordion-button:hover, .accordion-button:active {
    background-color: #333 !important;
    color: #FFF !important;
    text-decoration: none !important;
    border: hidden !important;
    border-color: #FFF !important;
    box-shadow: 0px !important;
}

.accordion-button:not(.collapsed) {
    color: #FFF !important;
    background-color: #333 !important;
}
.accordion-button:focus {
    z-index: 3;
    
    outline: 0;
    box-shadow: 0 0 0 .25rem #FFF !important;
}